OPENAI_API_KEY=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
OPENAI_MODEL=gpt-6-luna
SUPABASE_URL=https://dhiayiteyvphtcbhofrp.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_oCN5Ppg6FOs1TJV274Qq6Q_eljFF38S
SUPABASE_SECRET_KEY=sb_secret_b0IRVkuKl01TiyuK9lyDFw_Tv-BIGX1
SUPABASE_JWKS_URL=https://dhiayiteyvphtcbhofrp.supabase.co/auth/v1/.well-known/jwks.json
